<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Gestión de computadoras</title>
</head>
<body>
    <div class="container" th:replace="fragments/header :: header"></div>
    <br>
    <div class="container-fluid">
        <h2 class="text-center">[[${pageTitle}]]</h2>
        <div class="my-3">
            <form th:action="@{/computadora/save}" method="post" enctype="multipart/form-data"
                  th:object="${computadora}" style="max-width:550px; margin: 0 auto;">
                <div class="p-3">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="procesador">Procesador</label>
                        <div class="col-sm-9">
                            <input type="text" th:field="*{procesador}" required class="form-control" id="procesador">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="ram">RAM</label>
                        <div class="col-sm-9">
                            <input type="text" th:field="*{ram}" required class="form-control" id="ram">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

